CREATE DATABASE project_db;
CREATE USER apache WITH PASSWORD 'H@nds0me1522';
GRANT ALL PRIVILEGES ON DATABASE project_db TO apache;
GRANT ALL PRIVILEGES ON SCHEMA public TO apache;
GRANT CONNECT ON DATABASE project_db TO apache;