CREATE DATABASE "$POSTGRES_DB";
CREATE USER "$POSTGRES_USER" WITH PASSWORD '$POSTGRES_PASSWORD';
GRANT ALL PRIVILEGES ON DATABASE "$POSTGRES_DB" TO "$POSTGRES_USER";
GRANT ALL PRIVILEGES ON SCHEMA public TO "$POSTGRES_USER";
GRANT CONNECT ON DATABASE "$POSTGRES_DB" TO "$POSTGRES_USER";
